<!DOCTYPE html>
<html>

<head>
  <title>Reading Grade Levels in the Media</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/mediacloud.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/typeahead.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="container"> 

  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <h1>Reading Grade Levels in the Media <small>A MediaCloud API Client Example</small></h1>
        <p><i>
        {{ story_count }} stories in the database ({{english_story_pct}}% are in English).
        <!-- The highest story id is {{max_story_id}}. -->
        </i></p>
      </div>
    </div>
  </div>

  <div class="row-fluid">

     <div class="span6" id="mcReadability">
      <h3>Story Reading Level</h3>
      <p>
      Here is a histogram of story reading grade level for all.  The horizontal axis is grade level 
      the story is written at. The vertical axis is the number of stories scored at that grade level. 
      </p>
          <!-- chart will be filled in by ajax call -->
    </div>

    <div class="span6">
      <h2>Filter For <input type="text" id="mcPickDomain" placeholder="type a media source"></h2>
      <div id="mcFilteredResults" style="display:none">
        <p id="mcFilteredInfo">
        </p>
        <h3>Reading Level</h3>
        <div id="mcFilteredReadability">
          <!-- chart will be filled in by ajax call -->
        </div>
      </div>
    </div>

  </div>

  <div class="row-fluid">
    <div class="span12">
      <hr/>
    </div>
  </div>
  

  <div class="row-fluid">
    <div class="span12">
      <h3>Top Sources 
        <small>click a source's name to view reading grade level histogram for just that source</small>
      </h3>
      <p>
        {% for info in top_media_sources %}
          <a href="#" onclick="Javascript:updateFilterResults({{info['clean_id']}});$('#mcPickDomain').val('{{info['name']}}');return false;">{{info['name']}}</a> <small class="muted">({{info['story_count']|int}})</small> 
          &nbsp; &nbsp; 
        {% endfor %}
      </p>
    </div>
  </div>

</div>

<script type="text/javascript" src="/static/js/hogan.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/typeahead.min.js"></script>
<script type="text/javascript" src="/static/js/d3.v2.min.js"></script>

<script type="text/javascript">

// called by returned JS
function updateFilteredInfo(mediaSourceName, storyCount){
  $('#mcFilteredInfo').html("We know about "+storyCount+" articles from <strong>"+mediaSourceName+"</strong>");
}

// update results based on media source user chooses
function updateFilterResults(mediaId){
  $('#mcFilteredResults').hide();
  $('#mcFilteredInfo').empty();
  $('#mcFilteredReadability').empty();
  $.ajax({
    type: "GET",
    url:"/media/"+mediaId+"/info",
    dataType: 'script'
  });
}

// helper function to draw a standard histogram chart (called by returned JS from server)
function histogramChart(container, dataset, chartWidth, chartHeight, barWidth, maxXValue,barsToShow, maxY, xTickCount) {
  var y = d3.scale.linear()
       .domain([0, maxY])
       .range([0, chartHeight]);
  var x = d3.scale.linear()
       .domain([0,maxXValue])
       .range([0, chartWidth]);
  var chart = d3.select(container).append("svg")
       .attr("class", "chart")
       .attr("width", barWidth*barsToShow+50)
       .attr("height", chartHeight+25)
       .append("g")
       .attr("transform", "translate(10,0)");
  chart.selectAll("rect")
       .data(dataset)
       .enter().append("rect")
       .attr("x", function(d,i) { return i*barWidth; })
       .attr("y", function(d) {return chartHeight - y(d);} )
       .attr("height", y)
       .attr("width", barWidth);
  chart.selectAll(".rule")
       .data(x.ticks(xTickCount))
       .enter().append("text")
       .attr("class", "rule")
       .attr("x", x)
       .attr("y", chartHeight)
       .attr("dy", 15)
       .attr("text-anchor", "middle")
       .text(String);
  chart.append("line")
       .attr("x1", 0)
       .attr("x2", chartWidth)
       .attr("y1", chartHeight)
       .attr("y2", chartHeight)
       .style("stroke", "#666");
}

</script>

<script type="text/javascript">
// stuff to run once the page loads
$(function(){
  // load up the aggregate charts
  $.ajax({
      type: "GET",
      url:"/media/all/info",
      dataType: 'script'
    });
  // set up to fire ajax request when user filters by news source
  $('#mcPickDomain').typeahead({
      local: {{media_info_json|safe}},
      updater: function(item){
          updateFilterResults(item);
      }
  }).on('typeahead:selected', onTypeaheadDone)
    .on('typeahead:autocompleted', onTypeaheadDone);
  ;
});
function onTypeaheadDone($e,datum){
  updateFilterResults(datum.id)
}
</script>

</body>

</html>
