<!DOCTYPE html>
<html>

<head>
  <title>Public Tags in Media Cloud</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/mediacloud.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/typeahead.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="container"> 

  <header>
    <div class="row">
      <div class="span12">
        {% block header %}
          <h1>Public Tags in Media Cloud</h1>
        {% endblock %}
      </div>
    </div>
  </header>

  <div class="row">
    <div class="span12">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </div>
  </div>

  <footer>
    <div class="row">
      <div class="span12">
        {% block footer %}
          <a href="http://civic.mit.edu"><img src="/static/img/c4cm-badge.gif" name="MIT Center for Civic Media"/></a>
          <a href="http://mediacloud.org"><img src="/static/img/mediacloud-badge.gif" name="Powered by Media Cloud"/></a>
        {% endblock %}
      </div>
    </div>
  </footer>

</div>

<script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</body>

</html>
