{% extends "base.html" %}

{% block header %}
	<h1>Tag {{tags_id}} is {{geoname['name']}}</h1>
{% endblock %}

{% block content %}

	<p>
		Learn more about this place at the geonames website: 
		<a href="http://www.geonames.org/{{geoname['id']}}">http://www.geonames.org/{{geoname['id']}}</a>.
		<ul>
			<li>GeoNames ID: {{geoname['id']}}</li>
			<li>Name: {{geoname['name']}}</li>
			<li>Country Code: {{geoname['countryCode']}}</li>
			<li>State Code: {{geoname['stateCode']}}</li>
			<li>Feature Code: {{geoname['featureCode']}}</li>
			<li>Feature Class: {{geoname['featureClass']}}</li>
			<li>Population: {{geoname['population']}}</li>
			<li>Latitude: {{geoname['lat']}}</li>
			<li>Longitude: {{geoname['lon']}}</li>
		</ul>
	</p>
	
{% endblock %}