{% extends "base.html" %}

{% block header %}
	<h1>About Story {{story['stories_id']}}</h1>
	<h4>"{{story['title']}}"</h4>
	<h3><i>{{story['publish_date']}}</i></h3>
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-4">
			<h4>About These Places:</h4>
			<p>
			<ul>
			{% for geoname in about_geonames %}
				<li><a href="{{url_for('tag_by_geonames_id',geonames_id=geoname['id'])}}">{{geoname['name']}}, {{geoname['countryCode']}}</a></li>
			{% endfor %}
			</ul>
			</p>
			<h4>Mentions These Places:</h4>
			<p>
			<ul>
			{% for geoname in mentioned_geonames %}
				<li><a href="{{url_for('tag_by_geonames_id',geonames_id=geoname['id'])}}">{{geoname['name']}}, {{geoname['countryCode']}}</a></li>
			{% endfor %}
			</ul>
			</p>
		</div>
		<div class="col-md-8">
			<div id="map"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		<h2>Sentences</h2>
		</div>
		<div class="col-md-12">
			<table class="table">
				<tr>
					<th>Id</th>
					<th>Num</th>
					<th>Language</th>
					<th>Sentence</th>
					<th>Places</th>
				</tr>
			{% for sentence in story['story_sentences'] %}
				<tr id="sentence{{sentence['story_sentences_id']}}">
					<td><a href="#sentence{{sentence['story_sentences_id']}}" name="sentence{{sentence['story_sentences_id']}}">{{sentence['story_sentences_id']}}</a></td>
					<td>{{sentence['sentence_number']}}</td>
					<td>{{sentence['language']}}</td>
					<td>{{sentence['sentence']}}</td>
					<td>
					{% for geoname in sentence['geonames'] %}
						<a href="{{url_for('tag_by_geonames_id',geonames_id=geoname['id'])}}">{{geoname['name']}}</a><br />
					{% endfor %}
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>

{% endblock %}

{% block page_scripts %}
	<script type="text/javascript">
	$(function(){

		// make the map
		var map = new L.Map('map');
		var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
		var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
		var osmLayer = new L.TileLayer(osmUrl, {minZoom: 2, maxZoom: 14, attribution: osmAttrib});		
		map.addLayer(osmLayer);
		markers = [];
		{% for geoname in mentioned_geonames %}
			markers.push( L.marker([{{geoname['lat']}}, {{geoname['lon']}}]).addTo(map)		
				.bindPopup("{{geoname['name']}}") );
		{% endfor %}
		var group = new L.featureGroup(markers);
		map.fitBounds(group.getBounds());

		// highlight any sentence specified
		var sentenceElemId = window.location.hash.substring(1);
		$('#'+sentenceElemId).addClass('success');

	});
	</script>
{% endblock %}